@model AutoSalonGrida.Models.ViewModels.CarFormViewModel
@{ ViewData["Title"] = "Добавить автомобиль"; }
<h1 class="mb-3">Добавить автомобиль</h1>
<partial name="_CarForm" model="Model" />
@section Scripts { <partial name="_ValidationScriptsPartial" /> }
