@model AutoSalonGrida.Models.ViewModels.CarFormViewModel
@{ ViewData["Title"] = "Редактирование"; }
<h1 class="mb-3">Редактирование автомобиля</h1>
<partial name="_CarForm" model="Model" />
@section Scripts { <partial name="_ValidationScriptsPartial" /> }
